<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu do Aluno</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="container">
        <h2>MENU DO ALUNO</h2>
        <ul class="menu-list">
            <li><a href="#">1 - Visualizar projetos disponíveis</a></li>
            <li><a href="#">2 - Inscrever-se em projeto</a></li>
            <li><a href="#">3 - Cancelar inscrição</a></li>
            <li><a href="#">4 - Ver histórico de projetos</a></li>
            <li><a href="#">5 - Notificações</a></li>
            <li><a href="LoginView.html" class="logout">6 - Sair</a></li>
        </ul>
    </div>
</body>
</html>