<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu do Professor</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="container">
        <h2>MENU DO PROFESSOR</h2>
        <ul class="menu-list">
            <li><a href="ProjetoView.html">1 - Criar novo projeto</a></li>
            <li><a href="ProjetoView.html">2 - Editar projeto existente</a></li>
            <li><a href="ProjetoView.html">3 - Visualizar inscritos</a></li>
            <li><a href="NotificacaoView.html">4 - Enviar notificações</a></li>
            <li><a href="MainMenuView.html" class="logout">5 - Sair</a></li>
        </ul>
    </div>
</body>
</html>