<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu do Coordenador</title>
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <div class="container">
        <h2>MENU DO COORDENADOR</h2>
        <ul class="menu-list">
            <li><a href="ProjetoView.html">1 - Gerenciar projetos</a></li>
            <li><a href="#">2 - Gerenciar usuários</a></li>
            <li><a href="RelatoriosView.html">3 - Gerar relatórios</a></li>
            <li><a href="RelatoriosView.html">4 - Estatísticas gerais</a></li>
            <li><a href="MainMenuView.html" class="logout">5 - Sair</a></li>
        </ul>
    </div>
</body>
</html>